.wrapper{
  border: 1px red solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}
.title{
  text-transform: capitalize;
  margin-bottom: 1em;
  font-family: 'Roboto', sans-serif;
}
.error{
  border: 1px solid red;
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  max-width: 20em;
  margin: 0 auto;
  margin-bottom: 0.5em;
}
.formWrapper{
  border: 1px red solid;
  width: 100%;
  max-width: 40em;
  margin-bottom: 1em;
}
.btnWrapper{
  border: 1px red solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btnWrapper h3{
  text-transform: capitalize;
  font-size: 1.5rem;
}
.signup{
  border: 1px red solid;
  width: 100%;
  max-width: 20em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signup p{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.1rem;
}
.signup a{
   text-transform: capitalize;
  font-weight: bold;
  font-size: 1.1rem;
  color: #C4185D;
}
@media screen and (max-width:650px) {
  .wrapper{
    padding: 0 1em;
  }
}