.CustomButton{
  width: 100%;
  padding: 0.5em;
  background-color: transparent;
  font-size: 1.5rem;
  text-transform: capitalize;
  outline: none;
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 0.2em;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.CustomButton:hover{
  color: black;
  background-color: #fff;
  border: 1px black solid;
}
.googlSignIn{
  background-color: #3065FB;
  color: #fff;
}
.googlSignIn:hover{
  background-color: #0647fa;
  color: #fff;
}
.todo{
  border-radius: 0.1em;
  max-width: 2em;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C4185D;
  height: 100%;
}

@media screen and (max-width: 550px) {
  .todo{
    max-width: 1.5em;
  }
}