.input {
  width: 100%;
  padding: 0.3em;
  font-size: 1.5rem;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  display: block;
  margin-bottom: 1.5em;
}
.input::placeholder{
  font-size: 1rem;
}
