*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
* a{
  text-decoration: 0;
  color: black;
  display: block;
}

body{
  width: 100%;
  font-family: 'Poppins', sans-serif;
 
}
.app{
  height: 100vh;
 display: flex;
  flex-direction: column;
  justify-content: space-between;
}